<% url = band.persisted? ? band_url(band) : bands_url %>
<% method = band.persisted? ? "PATCH" : "POST" %>

<h2><font color="emerald"><%= band.name ? band.name : "Add a band" %></font></h2>

<form action="<%= url %>"
      method="POST">

  <input type="hidden"
         name="_method"
         value="<%= method %>">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="band_name"><font color="emerald">Band name:</font></label>
  <input id="band_name"
         type="text"
         name="band[name]"
         value="<%= band.name %>">

  <input type="submit"
         value="<%= band.name ? "Update!" : "Add band!" %>">

</form>

<br>

<%= button_to "Cancel", bands_url, method: :get %>
