<h2><font color="emerald">All Bands</font></h2>

<ul>
  <% Band.all.each do |band| %>
    <li><%= link_to band.name, band_url(band) %></li>
  <% end %>
</ul>

<br>

<%= button_to "Add a band", new_band_url, method: :get %>

<br>

<h2><font color="green">All Albums</font></h2>

<ul>
  <% Album.all.each do |album| %>
    <li><%= link_to album.display_title, album_url(album) %> by <%= link_to album.band.name, band_url(album.band) %></li>
  <% end %>
</ul>

<br>

<%= button_to "Add an album", new_album_url, method: :get %>
