<br>
<%= link_to "<< Back to all bands", bands_url %>

<h2><font color="emerald"><%= @band.name %></font> <font size=2><%= link_to "(edit)", edit_band_url %></font></h2>

<h3><font color="green">Albums:</font></h3>
<ul>
  <% @band.albums.each do |album| %>
    <li>
      <%= link_to album.display_title, album_url(album) %>
    </li>
  <% end %>
</ul>

<br>

<%= button_to "Add album", new_band_album_url(@band), method: :get %>

<br><br>

<%= button_to "Delete band O.O", band_url(@band), method: :delete %>
